body{
    background-image: url(../img/background.png);
    background-color:#333142;
    padding-top: 20rem;
}


@media only screen and (max-height: 700px)
{
    body{
        padding-top: 15rem;
    }
}

@media only screen and (min-width: 900px)
{
    body{
        padding-top: 22rem;
    }
}


@media only screen and (min-width: 1500px)
{
    body{
        padding-top: 25rem;
    }
}



img{
    height: auto;
    width: 100%;
}
.main-header{ 
    border-radius: 5px;
    margin: 0 auto;
    color: black; 
    text-align: center;
    padding-bottom: 15px;
}
.card{ 
    border-color: #333142;
    background: radial-gradient(circle, rgba(171,166,214,1) 0%, rgba(95,86,176,1) 50%, rgba(171,166,214,1) 100%);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;
}
.card:hover, .card:focus{
    border-width: 2px;
    border-color: #D87178;
    background-color: #253133; 

}
.card-text{
    color: #333142;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-price{ 
    border-width: 2px;
    border-color: #AAACD6;
    background: linear-gradient(90deg, rgba(95,86,176,1) 0%, rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%, rgba(95,86,176,1) 100%);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;
}
.card-about{
    border-width: 2px;
    border-color: #AAACD6;
    background: linear-gradient(90deg, rgb(95, 86, 176) 0%, rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%, rgba(95,86,176,1) 100%);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;

}
.card-title{
    text-align: center;
    color: #2f2440;
    font-weight: bold;
    padding:10px;
    
}
.card-subtitle{
    text-align: center;
    color:#B1E6CF; 
    font-weight: 400;
    padding:10px;
    
   
}
.text-box{
    background-color: #333142;
    color:white; 
    text-align: center;
    padding:10px;
    margin:10px;
    border-radius: 5px;
    opacity:95%;
    box-shadow: 5px 3px 5px #333142 ;
    max-width: 600px;
}
.commission-header{
    background:linear-gradient(90deg, rgb(47, 36, 64) 0%, rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%, rgba(47,36,64,1) 100%);
    color:#2f2440;
    font-weight:bolder;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
    border-radius: 5px;
    opacity:85%;
    box-shadow: 1px 3px black;
}

.commission-title{
    background-color: #333142;
    color:white; 
    font-weight:600;
    text-align: center;
    padding:10px;
    margin:10px;
    border-radius: 5px;
}
.commission-img{
    background-color:black;
    width:200px;
    height:200px;
    padding:10px;
    margin:10px;
    box-shadow: 5px 3px 5px #333142 ;
}

.self-img{
    background-color: #2f2440;
    border-width: 5px;
    border-color: #D87178;
    border-radius: 50%;
    padding:15px;
    margin-top: 25px;
    max-width: 400px;
    box-shadow: -5px 1px 5px #333142 ;
    
}
.btn{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 570px)
{
    .no-padding{
        padding-top: 0;
        padding-bottom: 0;
    }
}
.btn-main{
    color: #B1E6CF;
    font-size: x-large;
    background: radial-gradient(circle, rgba(95,86,176,1) 0%, rgba(95,86,176,1) 50%), rgba(47,36,64,1) 100%;
    border-color:   #333142;
    border-width: 1px;
    border-radius: 30px;
    box-shadow: 1px 3px black;
    margin-bottom: 10px;
}
.btn-main:focus,.btn-main:hover{
    color: white;
    background: radial-gradient(circle, rgba(216,113,120,1) 0%, rgba(95,86,176,1) 100%);
    background-color:  #D87178;
    border-width:2px;
    border-color:#2f2440;
}
.btn-main:active {
    box-shadow: none;
    background-color:  #D87178;
}
.logo{
    display: block;
    margin-left: auto;
    margin: auto;
    width: 95%;
    max-width: 550px;
    padding: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}
@media (orientation: landscape) and (max-width: 1000px) {
    body{
        padding-top: 10rem;
    }
    .logo {
        max-width: 175px;
    }
  }

.nav-buttons{
    opacity: 90%;
}
.footer{
    text-align:center;
    font-weight: Bold;
    color: white;
}
.sub-header{
    text-align:center;
    font-weight: Bold;
    color: white;
}
.card-header{
    background-color: #253133;
    margin: 10px;
    box-shadow: 5px 10px ;
    opacity: 90%;
}
.video{
    padding-top: 20px;
}
.social-img{
    width:30px;
    height:30px
}