body{background-color: black; padding-top: 200px;}
img{width: 100%;}

.main-header{ 
    margin-top: 15px;
    color: white; 
    text-align: center;
    padding-bottom: 15px;
    opacity: 80%;
}
.card{ 
    border-width: 5px;
    border-color: lightgreen;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}
.card-text{
    text-align: center;
    padding-bottom: 20px;
}
.btn{
    width: 100%;
    margin: 5px;
}