body{
    background-color:#333142;
    padding-top: 200px;}
 
img{
    height: auto;
    width: 100%;
}
.main-header{ 
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    color: black; 
    text-align: center;
    padding-bottom: 15px;
    opacity: 78%;
}
.card{ 
    border-width: 2px;
    border-color: #D87178;
    background-color: #253133;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 10px ;
}
.card:hover, .card:focus{
    background-color: #D87178; 

}
.card-text{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.btn{
    width: 100%;
    margin: 5px;
}
.btn-main{
    color: white;
    background-color: #AAACD6;
    border-color:  #D87178;
}
.btn-main:focus,.btn-main:hover{
    color: white;
    background-color:  #D87178;
}
.btn-main:active {
    box-shadow: none;
    background-color:  #D87178;
}