body{
    background-image: url(../img/background.png);
    background-color:#333142;
    padding-top: 20rem;
}


@media only screen and (max-height: 700px)
{
    body{
        padding-top: 17rem;
    }
}

@media only screen and (min-width: 900px)
{
    body{
        padding-top: 22rem;
    }
}


@media only screen and (min-width: 1500px)
{
    body{
        padding-top: 25rem;
    }
}



img{
    padding: 10px;
    height: auto;
    width: 100%;
}
.main-header{ 
    border-radius: 5px;
    margin: 0 auto;
    color: black; 
    text-align: center;
    padding-bottom: 15px;
}
.card{ 
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px ;
}
.card:hover, .card:focus{
    border-width: 2px;
    border-color: #D87178;
    background-color: #253133; 

}
.card-text{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.card-price{ 
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;
}
.card-about{
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;

}
.card-title{
    text-align: center;
    font-weight: Bold;
    text-decoration: underline;
    color: #333142;
    padding-top:20px;
    
}
.card-subtitle{
    text-align: center;
    font-weight: 400;
    color: #333142;
    padding-top: 10px;
}
.self-img{
    border-width: 2px;
    border-color: #AAACD6;
    border-radius: 50%;
    padding:20px;
    max-width: 400px;
}
.btn{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 570px)
{
    .no-padding{
        padding-top: 0;
    }
}
.btn-main{
    color: #333142;
    font-weight: bold;
    background-color: #AAACD6;
}
.btn-main:focus,.btn-main:hover{
    color: white;
    background-color:  #D87178;
    border-width:2px;
    border-color:#AAACD6;
}
.btn-main:active {
    box-shadow: none;
    background-color:  #D87178;
}
.logo{
    display: block;
    margin-left: auto;
    margin: auto;
    width: 95%;
    max-width: 550px;
    max-height: 15%;
    padding: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav-buttons{
    opacity: 85%;
}
.footer{
    text-align:center;
    font-weight: Bold;
    color: #D87178;
}
.sub-header{
    text-align:center;
    font-weight: Bold;
    color: white;
}
.card-header{
    background-color: #253133;
    margin: 10px;
    box-shadow: 5px 10px ;
    opacity: 90%;
}
.video{
    padding-top: 20px;
}