body{
    background-image: url(../img/background.png);
    background-color:#333142;
    padding-top: 350px;
}

img{
    height: auto;
    width: 100%;
}
.main-header{ 
    border-radius: 5px;
    margin: 0 auto;
    color: black; 
    text-align: center;
    padding-bottom: 15px;
}
.card{ 
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px ;
}
.card:hover, .card:focus{
    border-width: 2px;
    border-color: #D87178;
    background-color: #253133; 

}
.card-text{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.card-price{ 
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;
}
.card-about{
    border-width: 2px;
    border-color: #AAACD6;
    background-color: #D87178;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px ;

}
.card-title{
    text-align: center;
    font-weight: Bold;
    text-decoration: underline;
    color: #333142;
    padding-top:20px;
    
}
.card-subtitle{
    text-align: center;
    font-weight: 400;
    color: #333142;
    padding-top: 10px;
}
.card-img{
    border-width: 2px;
    border-color: #AAACD6;
    border-radius: 50%;
    padding:20px;
}
.btn{
    width: 100%;
    margin: 5px;
}
.btn-main{
    color: #333142;
    font-weight: bold;
    background-color: #AAACD6;
}
.btn-main:focus,.btn-main:hover{
    color: white;
    background-color:  #D87178;
    border-width:2px;
    border-color:#AAACD6;
}
.btn-main:active {
    box-shadow: none;
    background-color:  #D87178;
}
.logo{
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-buttons{
    opacity: 85%;
}
.footer{
    text-align:center;
    font-weight: Bold;
    color: #D87178;
}
